doctype html
html(lang='en')

    head
      // Google Tag Manager
      script.
        (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KTF3PLQ');
      // End Google Tag Manager

      // Global Site Tag (gtag.js) - Google Analytics
      script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-107707240-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
        dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-107707240-1');
      // End Google Analytics

      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      meta(name='description' content='Sabarish Raghupathy | User Experience, Interaction Design, UI Development Portfolio')
      meta(name='author' content='Sabarish Raghupathy')

      // Favicon
      link(rel='shortcut icon' type='image/x-icon' href='dist/assets/images/favicon.png')

      link(rel='index' title='Sabarish' href='http://sabarish.net')
      title Sabarish | UX/UI Portfolio

      // Bootstrap Core CSS
      link(href='dist/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')

      // Theme CSS
      link(href='dist/css/styles.css' rel='stylesheet')

      // Custom Fonts
      link(href='dist/assets/vendor/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')

      //Google Fonts
      link(href='https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700' rel='stylesheet' type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic' rel='stylesheet' type='text/css')
      // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      // WARNING: Respond.js doesn't work if you view the page via file://
      //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

      //Lazysizes image load
      script(src='dist/assets/vendor/lazysites/lazysizes.min.js' async='')
    body#page-top.index
        // Google Tag Manager (noscript)
        noscript
          iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KTF3PLQ' height='0' width='0' style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)

        #skipnav
          a(href='#maincontent') Skip to main content

        // Navigation
        nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
          .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header.page-scroll
              button.navbar-toggle(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                |  Menu
                i.fa.fa-bars
              a.navbar-brand(href='#page-top') Sabarish Raghupathy
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.hidden
                  a(href='#page-top')
                li.page-scroll
                  a(href='#portfolio') My Work
                li.page-scroll
                  a(href='#about') About Me
                li.page-scroll
                  a(href='#resume') Resume
                li.page-scroll
                  a(href='#contact') Contact Me
            // /.navbar-collapse
          // /.container-fluid
        // Loading
        .loading.text-center.hide
          i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
          span.sr-only Loading...
        // Header
        header
          #maincontent.container(tabindex='-1')
            .row.bg-profile-image
              .col-lg-5.col-lg-offset-1
                .intro-text
                  span.welcome Hi, welcome to my portfolio!
                  br
                  p I&apos;m an interaction designer and design developer.
                  p
                    | My passion lies in the intersection of design, technology, and people. I have
                    | over 14 years of technology experience, including UX design and web
                    | development.
        // Portfolio Grid Section
        section#portfolio
          .container
            .row
              .col-lg-12.text-center
                h3 Featured work
                hr
            .row
              .col-sm-6.col-lg-4.portfolio-item
                a.portfolio-link(type='button' data-target='#modalLibWeb' data-toggle='modal')
                  .caption
                    .caption-content
                      i.fa.fa-search-plus.fa-3x
                  img.img-responsive(src='dist/assets/images/thumbnails/libweb.png' alt='Library Website')
                p.project-title.text-center Modernization of Library Ecosystem
                br
              .col-sm-6.col-lg-4.portfolio-item
                a.portfolio-link(type='button' data-target='#modalJLR' data-toggle='modal')
                  .caption
                    .caption-content
                      i.fa.fa-search-plus.fa-3x
                  img.img-responsive(src='dist/assets/images/thumbnails/jlr.png' alt='JLR')
                p.project-title.text-center In-Vehicle-Infotainment & Future Concepts
                br
              .col-sm-6.col-lg-4.portfolio-item
                a.portfolio-link(type='button' data-target='#modalDell' data-toggle='modal')
                  .caption
                    .caption-content
                      i.fa.fa-search-plus.fa-3x
                  img.img-responsive(src='dist/assets/images/thumbnails/dell.png' alt='Dell')
                p.project-title.text-center Dell.com Redesign
                br
        section#portfolio
          .container
            .row
              .col-lg-12.text-center
                h3 Other work
                hr
            .row
              .col-sm-6.col-lg-4.portfolio-item
                a.portfolio-link(type='button' data-target='#modalIntel' data-toggle='modal')
                  .caption
                    .caption-content
                      i.fa.fa-search-plus.fa-3x
                  img.img-responsive(src='dist/assets/images/thumbnails/intel.png' alt='Intel Internet of Things')
                p.project-title.text-center Experience Internet of Things
                br
              .col-sm-6.col-lg-4.portfolio-item
                a.portfolio-link(type='button' data-target='#modalVialogues' data-toggle='modal')
                  .caption
                    .caption-content
                      i.fa.fa-search-plus.fa-3x
                  img.img-responsive(src='dist/assets/images/thumbnails/vialogues.png' alt='Vialogue')
                p.project-title.text-center Asynchronous Video Discussion Tool
                br
              .col-sm-6.col-lg-4.portfolio-item
                a.portfolio-link(type='button' data-target='#modalEvolveOutlet' data-toggle='modal')
                  .caption
                    .caption-content
                      i.fa.fa-search-plus.fa-3x
                  img.img-responsive(src='dist/assets/images/thumbnails/evolveoutlet.png' alt='Evolve Outlet')
                p.project-title.text-center Electrical Outlet Redesign
                br
              .col-sm-6.col-lg-4.portfolio-item
                a.portfolio-link(type='button' data-target='#modalEdLabWebsite' data-toggle='modal')
                  .caption
                    .caption-content
                      i.fa.fa-search-plus.fa-3x
                  img.img-responsive(src='dist/assets/images/thumbnails/edlab.png' alt='EdLab Website')
                p.project-title.text-center EdLab Website Redesign
                br
              .col-sm-6.col-lg-4.portfolio-item
                a.portfolio-link(type='button' data-target='#modalMisc' data-toggle='modal')
                  .caption
                    .caption-content
                      i.fa.fa-search-plus.fa-3x
                  img.img-responsive(src='dist/assets/images/thumbnails/misc.png' alt='Miscellaneous')
                p.project-title.text-center Samples From Other Projects
                br

        // About Section
        section#about.success
          .container
            .row
              .col-lg-12.text-center
                h3 A little about me
                hr
            .row
              .col-lg-6.col-lg-offset-1
                p
                  b My story
                br
                p.fwl
                  | Ever since my first computer-lab class in school, I have wanted to work in the field
                  | of computers and technology. I studied Computer Science for my undergraduate degree and started
                  | my career as a Software Engineer. A few years into life as a developer, I got the opportunity to
                  | work with user experience professionals. I was so excited and interested in what they did that I
                  | decided to go back to school. I spent two fantastic years at the University of Michigan learning
                  | more about design, user experience, and the fundamentals of human behavior. I have since worked
                  | at a UX design agency and in-house UX teams.
                br
              .col-lg-3.col-lg-offset-1
                p
                  b Things I like doing
                br
                p.fwl.lhdbl
                  | UX &amp; UI design
                  br
                  | Product design
                  br
                  | Web design &amp; development
                  br
                  | Mobile &amp; responsive design
                  br
                  | Solving problems
                  br
                  | Leading design teams
                  br
                  | Managing products
                br
                br
              br
              br
              #resume
              .col-lg-6.col-lg-offset-3.text-center
                p
                  b Want more details on my experience, education, and skills?
                a.btn.btn-lg.dlResume.text-center(href='dist/assets/docs/Sabarish_Raghupathy_Resume.pdf')
                  i.fa.fa-download.dlResume
                  |  Download Resume
                br
                br
                br
                #recommendations
                br
              .col-lg-8.col-lg-offset-2.text-center
                h3
                  | Some&nbsp;
                  a(href='https://www.linkedin.com/in/rsabarish' target='_blank') LinkedIn
                  |  recommendations
                hr
                br
              .col-lg-8.col-lg-offset-2
                blockquote.fwl
                  | "Sab is a seasoned engineer but he is foremost an experience designer. His
                  | work is always thoughtful, precise, and well-informed no matter the medium or device. I am
                  | constantly in awe of his ability to translate a list of requirements into a satisfyingly
                  | thorough and cohesive user flow. His deliberate design choices mean that for every 'why' I have,
                  | he has a 'because' to match! I feel listened to when I work with Sab; he genuinely cares about
                  | the user feedback I share with him and does what he can to make their experiences more
                  | enjoyable.
                  br
                  | As a coworker, he is inspiring and encouraging, often proposing ideas or supporting others when
                  | they shoot for the moon. Sab is the most versatile UX designer I know, and I&rsquo;m lucky I get to
                  | collaborate with him on the daily."
                p
                  | -
                  b Joann Agnitti, Product Manager at EdLab, Teachers College Columbia University
                  |  (January 2018)
                br
                br
                blockquote.fwl
                  | "I very much enjoyed working with Sabarish because of his helpful guidance
                  | and always friendly attitude. He was the lead designer while we were working on redesigning
                  | Edlab&apos;s website. He always expressed himself clearly and eloquently about what he needed from me
                  | as his main visual designer. He would always suggest interesting visual solutions and reference
                  | important work. I always felt comfortable expressing my ideas to him and he would always suggest
                  | positive and constructive changes to make the work stronger. I would be happy to work with him
                  | again as I imagine anyone would."
                p
                  | -
                  b Isabella Cruz-Chong, Visual Designer, EdLab
                  |  (April 2017)
                br
                br
                blockquote.fwl
                  | "Sabarish Raghupathy is a talented, energetic, creative thinker. I have had
                  | the distinct pleasure of working with him for the past two years at the EdLab and the Gottesman
                  | Libraries...Sabarish has earned the respect of his colleagues on the Software Development team
                  | and across the board at the EdLab, through his hard work, his strong collaboration and
                  | leadership skills, and his willingness to always go the extra mile to help others around him..."
                p
                  | -
                  b Christopher Gu, Director, EdLab
                  |  (Feb 2017)
                br
                br
                blockquote.fwl
                  | "I worked with Sabarish on multiple software design projects at Empirical,
                  | where he played an integral role on the team and contributed salient design recommendations and
                  | other deliverables (wireframes, high fidelity prototypes, etc.) that always exceeded client
                  | expectations...Aside from being really good at what he does, Sabarish is the kind of person
                  | everyone wants to have as a coworker. He is genial, reliable, helpful, knowledgeable about
                  | technology, humble, inclusive, and always optimistic. I&apos;m privileged to have worked with him and
                  | glad to call him a peer. I cannot imagine anyone who wouldn&apos;t say the same."
                p
                  | -
                  b Amy Santee, UX Researcher, Empirical UX Design &amp; Research
                  |  (March 2015)
                br
                br
                blockquote.fwl
                  | "Sabarish and I worked together on several projects at Empirical and I feel
                  | 100% confident saying that he is one of the mythical UX unicorns we hear so much about, but
                  | never seem to find. He&apos;s got an eye for design, the skills to program, and an educated
                  | perspective that brings it all together to create elegant and successful user experiences. Add
                  | to that his genuinely good nature and sense of humor and you have one awesome colleague! In a
                  | nutshell, Sabarish is a true asset to any organization."
                p
                  | -
                  b Emily Bowman, Senior UX Designer, Empirical UX Design &amp; Research
                  |  (June 2014)
                br
                br
                blockquote.fwl
                  | "Sabarish was the UX intern for our group, Global Site Design. In that
                  | capacity, he was handed projects and assignments that seasoned UX architects feared and loathed.
                  | Sabarish handled all of it with good humor and with the professionalism of a seasoned veteran.
                  | He was easy to work with, always open to new ideas, and got the job done. What more could you
                  | ask for?"
                p
                  | -
                  b Mary Lan, UX Design Lead, Dell Global Site Design
                  |  (September 2012)

        // Contact Section
        section#contact
          .container
            .row
              .col-lg-12.text-center
                h3 Contact Me
                hr
            .row
              .col-lg-12
                ul.list-inline.text-center
                  li
                    a.btn-social(href='mailto:sabarishraghupathy@gmail.com')
                      span.sr-only E-Mail
                      i.fa.fa-fw.fa-envelope
                    | sabarishraghupathy at gmail dot com
                  li
                    .btn-social
                      span.sr-only Phone
                      i.fa.fa-fw.fa-phone
                    | 832-794-3422
                br
                br

        // Footer
        footer.text-center
          .footer-above
            .container
              .row
                .footer-col.col-md-4
                .footer-col.col-md-4
                  h3 Around the Web
                  ul.list-inline
                    li
                      a.btn-social.btn-outline(target='_blank' href='https://www.linkedin.com/in/rsabarish')
                        span.sr-only LinkedIn
                        i.fa.fa-fw.fa-linkedin
                    li
                      a.btn-social.btn-outline(target='_blank' href='https://twitter.com/sabarish')
                        span.sr-only Twitter
                        i.fa.fa-fw.fa-twitter
                    li
                      a.btn-social.btn-outline(target='_blank' href='https://www.flickr.com/photos/_sab/')
                        span.sr-only Flickr
                        i.fa.fa-fw.fa-flickr
                .footer-col.col-md-4
          .footer-below
            .container
              .row
                .col-lg-12
                  | &copy; sabarish.net | Last Updated: 12/21
              .row
                .col-lg-12
                  br
                  br
                  | Theme adapted from&nbsp;
                  a(href='https://startbootstrap.com/template-overviews/freelancer/')
                    | Freelancer bootstrap
                    | theme

        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
          a.btn.btn-primary(href='#page-top')
            i.fa.fa-chevron-up

        // Full-width Modals

        #modalLibWeb.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
          .modal-content
            .container-fullwidth
              .nav-modal
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalMisc')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalJLR')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close
              .modal-body
                .row.portfolio-header
                  .col-lg-12
                    h2 Modernization of Library Ecosystem
                    hr
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_1.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_2.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_3.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_4.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_5.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_6.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_7.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_8.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_9.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_10.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_11.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_12.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_13.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_14.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_15.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_16.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_17.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_18.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_19.jpg' alt='Library Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/library_20.jpg' alt='Library Design')
              .modal-footer
                ul.list-inline.item-details
                  li
                    | Project:&nbsp;
                    strong Library Website
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalMisc')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalJLR')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close

        // **** JLR ****
        #modalJLR.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
          .modal-content
            .container-fullwidth
              .nav-modal
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalLibWeb')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalDell')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close
              .modal-body
                .row.portfolio-header
                  .col-lg-12
                    h2 In-Vehicle-Infotainment & Future Concepts
                    hr
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/jlr_1.jpg' alt='JLR Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/jlr_2.jpg' alt='JLR Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/jlr_3.jpg' alt='JLR Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/jlr_4.jpg' alt='JLR Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/jlr_x.jpg' alt='JLR Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/jlr_21.jpg' alt='JLR Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/jlr_22.jpg' alt='JLR Design')
              .modal-footer
                ul.list-inline.item-details
                  li
                    | Project:&nbsp;
                    strong JLR IVI
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalLibWeb')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalDell')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close

        // **** Dell ****
        #modalDell.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
          .modal-content
            .container-fullwidth
              .nav-modal
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalJLR')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalIntel')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close
              .modal-body
                .row.portfolio-header
                  .col-lg-12
                    h2 RETHINKING DELL.COM IA
                    hr
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_1.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_2.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_3.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_4.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_5.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_6.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_7.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_8.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_9.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_10.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_11.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_12.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_13.jpg' alt='Dell Design')
                .row.portfolio-slide.slide-break
                  .col-lg-12
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/new/dell_14.jpg' alt='Dell Design')
              .modal-footer
                ul.list-inline.item-details
                  li
                    | Project:&nbsp;
                    strong Dell.com Redesign
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalJLR')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalIntel')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close
        // Portfolio Modals

        // **** Intel IOT ****
        #modalIntel.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
          .modal-content
            .container-fluid
              .nav-modal
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalDell')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalVialogues')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close
              .modal-body
                .row.portfolio-header
                  .col-lg-8.col-lg-offset-2
                    h2 Experience Internet of Things
                    hr
                    p.project-intro
                      | The Intel&reg; IoT Platform is an end-to-end reference model and family
                      | of products from Intel, that works with third-party solutions to provide a foundation
                      | for seamlessly and securely connecting devices, delivering trusted data to the cloud,
                      | and delivering value through analytics.
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h3 The Projects:
                    p
                      | Collaborate with Intel&apos;s IoT UX team and Intel Labs to explore future product concepts
                      | and usages surrounding Internet of Things in three broad categories -
                      | In-Vehicle-Infotainment Systems, IoT Kits, and Intel Technology Access.
                    br
                    h3 My Role:
                    p
                      | As a User Experience designer, I was responsible for developing use cases, wireframes,
                      | and developing
                      | experiences around Intel&apos;s Internet of Things technology.
                    br
                    h3 The outcome:
                    p
                      | We successfully delivered the scenarios, prototypes, findings, analysis, and
                      | recommendations for multiple use cases to Intel.
                .row.portfolio-header
                  .col-lg-8.col-lg-offset-2
                    h2 The Process (Highlights):
                    hr
                    ul
                      li
                        | RESEARCH
                        ul
                          li Stakeholder interviews
                          li Project requirements
                          li Explore Intel&apos;s IoT kits and technology
                          li Design IoT usage models and scenarios
                      li
                        | DESIGN AND PROTOTYPE
                        ul
                          li
                            | Design Wireframes exploring elements of the user experience for each concept
                          li
                            | Develop fully functional prototypes that communicated with IoT components
                          li Create detailed interaction design specifications documents
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h4 Project 1:
                    hr
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Project Requirements:
                    p
                      | Design an IVI system with smartphone integration for Intel Labs&rsquo; Orion
                      | IoT project.
                    blockquote
                      i
                        | "The final deliverable should be a comprehensive, working, demo-able product for
                        | the CES show in Las Vegas." - Stakeholder
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Scenarios:
                    p Several scenarios were developed surrounding smartphone integration with the IVI system, such as:
                    ul
                      li Phone calendar and contacts
                      li Connecting multiple phones
                      li Playing media from different phones
                      li Integrate with phone sensors
                      li Integrate with mobile phone apps
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/orion_flow.jpg' alt='Orion Use Case Flow')
                    h4.text-center
                      | Scenario: Sync with driver phone
                      i.fa.fa-chevron-up
                    br
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Interactive Prototype Demo:
                    p Detailed wireframes and their visuals were then designed.
                    p
                      | Finally, we developed an interactive prototype that featured integration between the IVI
                      | system, location sensors, steering wheel, different IVI apps, and up to four mobile
                      | phones.
                    .text-center
                      video(width='560' height='315' controls='')
                        source(src='dist/assets/images/orion.mp4' type='video/mp4')
                    h4.text-center
                      | Intel demoing the IVI system
                      i.fa.fa-chevron-up
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h4 Project 2:
                    hr
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Project Requirements:
                    p
                      | Design and develop software that shows users how to use the Intel IoT
                      | kits through a beginner demo interface and through different use case walkthroughs.
                    br
                    blockquote
                      i
                        | Each IoT use case concept needed to be completely detailed out, with user
                        | models, task models, interaction and visual design specifications, and fully
                        | functional prototypes/working programs.
                    br
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Interactive Web Apps:
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/intel_iot-kit.jpg' alt='Intel IoT Kit')
                    h4.text-center
                      | &apos;Demo experience kit&apos; for Intel&apos;s Starter IoT Kit
                      i.fa.fa-chevron-up
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/intel_iot_truck.jpg' alt='Web Apps for Intel IoT')
                    br
                    blockquote
                      i
                        | Example use case - IoT integration with a delivery truck, to monitor
                        | temperature, vibration, location, door open/close status, etc.
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/intel_iot_trucks.jpg' alt='Web Apps for Intel IoT')
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/intel_iot_tower.jpg' alt='Web Apps for Intel IoT')
                    h4.text-center
                      | Web apps for different IoT use cases
                      i.fa.fa-chevron-up
                    br
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h4 Project 3:
                    hr
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Project Requirements:
                    p
                      | Define experiences around Intel Technology Access, which lets devices
                      | connect and communicate with other devices and share resources.
                    br
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Wireframing:
                    ul
                      li
                        | Wireframes exploring elements of the user experience for each concept were created
                        | and tested with users.
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/intel_ta.jpg' alt='Intel TA')
                    h4.text-center
                      | Intel Technology Access
                      i.fa.fa-chevron-up
              .modal-footer
                ul.list-inline.item-details
                  li
                    | Project:&nbsp;
                    strong Intel IoT
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalDell')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalVialogues')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close

        // **** VIALOGUES ****
        #modalVialogues.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
          .modal-content
            .container-fluid
              .nav-modal
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalIntel')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalEvolveOutlet')")
                  i.fa.fa-angle-right
                  |                         Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close
              .modal-body
                .row.portfolio-header
                  .col-lg-8.col-lg-offset-2
                    h2 Asynchronous Video Discussion Tool
                    hr
                    p.project-intro
                      | &quot;Vialogues&quot;, deriving from video + dialogues, is a community of
                      | learners using video to ignite discussion.
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/vialogues_home_new.jpg' alt='Vialogues new landing page')
                    h4.text-center.color-gray-darker
                      | NEW RESPONSIVE SITE
                      i.fa.fa-chevron-up
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h3 The project:
                    p
                      | Redesign and enhance Vialogues with a focus on self-directed learning. With thousands of
                      | users around the world still using its first incarnation (launched in 2010), there has
                      | been a desperate need for an upgrade and constant demand for additional features and an
                      | easier to use interface.
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/vialogues_home_old.jpg' alt='Vialogues old landing page')
                    h4.text-center
                      | Old Vialogues Homepage
                      i.fa.fa-chevron-up
                    br
                    h3 My role:
                    p
                      | I was the lead designer on this project and was responsible for its complete creative
                      | execution. I worked closely with a&nbsp;
                      a(href='https://www.himynameisjo.com/' target='_blank')
                        | UX researcher&nbsp;
                      | for the initial analysis and later testing parts, and with a visual designer to create the high-fidelity designs.
                    br
                    h3 The outcome:
                    ul
                      li
                        | Vialogues was&nbsp;
                        a(href='https://vialogues.com' target='_blank') launched
                        |  on 10th August 2017 to rave reviews and feedback!
                      li There is now better discoverability of people and content.
                      li There is an increased emphasis on groups of related content.
                      li
                        | The new design fixed a lot of the usability and findability issues of the previous
                        | version.
                      li
                        | The site is now less &quot;busy&quot; and the design allows the content to have breathing
                        | room.
                .row.portfolio-header
                  .col-lg-8.col-lg-offset-2
                    h2 The Process (Highlights):
                    hr
                    ul
                      li
                        | STRATEGY
                        ul
                          li Determining areas of improvement
                          li Determine project scope
                      li
                        | RESEARCH
                        ul
                          li Evaluation of existing platform
                          li Interview and observe current users
                      li
                        | DESIGN AND PROTOTYPE
                        ul
                          li Wireframe new designs
                          li Collect feedback on high-fidelity mockups
                          li Creative direction of visual design
                      li
                        | IMPLEMENT
                        ul
                          li CSS implementation
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h4 STRATEGY:
                    hr
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Determining Areas of Improvement:
                    p
                      | Through multiple stakeholder meetings, ideation/brainstorming sessions, and review of
                      | site feedback data, we decided that the following areas needed improvement:
                    ul
                      li Create a more robust discussion environment
                      blockquote
                        i
                          | How do we help create the rich, active discussions we set out to support
                          | and provide users the sense of community they feel across similar discussion
                          | sites?
                      li Provide moderators with data and analytics about their vialogues
                      li Improve assessment methods
                      blockquote
                        i How can we improve our polling and question feature to better serve learners?
                  .col-lg-8.col-lg-offset-2
                    ul
                      li Improve the search and recommendation
                      blockquote
                        i "How can we improve discoverability of people and content?"
                      li
                        | General update of the UI
                        ul
                          li Update overall style / icons / fonts / visual elements
                          li Reduce clutter / Update page layouts / Give breathing room
                          li Expose hard to find features (Ex: video settings)
                          li Simplify complicated functionality (Ex: create process)
                    br
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Determining Project Scope:
                    p
                      | For our first phase, we will be focusing on general UI updates and improve the search &amp;
                      | recommendations system.
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h4 RESEARCH:
                    hr
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Evaluation of old website:
                    ul
                      li We analyzed traffic data to determine popular pages and paths.
                      li Created a sitemap, functionality map, and permissions/roles of the old site.
                      li
                        | Being EdLab&apos;s most used product with users across the world we had a whole lot of
                        | feedback and support questions to analyze -
                        ul
                          li
                            | Users regularly submit feedback through the UserVoice integration on the
                            | site.
                          blockquote
                            i "How do I change the closed-captions?"
                          li
                            | Feedback from EdLab staff and our premium users acquired via emails or
                            | direct interactions.
                          blockquote
                            i "How will I know if my students watched the video?"
                          li Feedback from Usability tests.
                          blockquote
                            i
                              | "I&rsquo;ve always wondered how the recommended Vialogues are
                              | determined? I feel like some SiNY or Voice episodes always have the same
                              | suggestions!" - Video Team Member
                          li
                            | We interviewed several existing users of Vialogues, including -
                            ul
                              li EdLab staff, who use it for video hosting/streaming
                              li Professors, who use it for student instruction
                              li Students, who use it for professional development
                              li Researchers, who use it for informal learning and research
                          li
                            | This feedback was categorized into different problem areas (like Vialogue
                            | Management, User Setting, Access, Commenting, etc.)
                  .col-lg-8.col-lg-offset-2
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/via_old-play.jpg' alt='Vialogues Play Page')
                    h4.text-center
                      | Old Vialogues Play Page
                      i.fa.fa-chevron-up
                .row.portfolio-slide
                  .col-lg-8.col-lg-offset-2
                    h4 DESIGN AND PROTOTYPE:
                    hr
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Interaction Design:
                    ul
                      li
                        | We constantly tested our designs with members of the Teachers College community and
                        | iterated based on their feedback.
                      li
                        | We conducted usability testing sessions for testing flows and overall site designs.
                      li
                        | We also had several quick feedback sessions for smaller design
                        | elements/interactions.
                      li We extensively used InVision app to create, share, and test our prototypes.
                  .col-lg-8.col-lg-offset-2
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/vialogues_search.jpg' alt='Rhizr responsive')
                    h4.text-center
                      | Improved Search Results
                      i.fa.fa-chevron-up
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/vialogues_play-page.jpg' alt='Vialogues Play Page')
                    h4.text-center
                      | New Vialogues Play Page
                      i.fa.fa-chevron-up
              .modal-footer
                ul.list-inline.item-details
                  li
                    | Project:&nbsp;
                    strong Vialogues
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalIntel')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalEvolveOutlet')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close

        // **** EdLab Website ****
        #modalEdLabWebsite.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
          .modal-content
            .container-fluid
              .nav-modal
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalEvolveOutlet')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalMisc')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close
              .modal-body
                .row.portfolio-header
                  .col-lg-8.col-lg-offset-2
                    h2 EdLab Website Redesign
                    hr
                    p.project-intro
                      | EdLab is a research, design, and development unit at Teachers
                      | College, Columbia University working on the future of education technology, but they had
                      | a website that was stuck in the early 2000s.
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/edlab_website_new.jpg' alt='New EdLab Website')
                    h4.text-center.color-gray-darker
                      | New Responsive Site
                      i.fa.fa-chevron-up
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h3 The project:
                    p
                      | Design a new website for EdLab highlighting EdLab&apos;s network of apps by enabling users to
                      | easily interact with the enormous amount of content that users create using these apps.
                    br
                    h3 My role:
                    p
                      | I was the lead designer on this project and was responsible for its complete creative
                      | execution. I worked closely with a&nbsp;
                      a(href='https://www.himynameisjo.com/' target='_blank')
                        | UX researcher
                      |  for the initial analysis and later
                      | testing parts, and supervised a visual designer to create the high-fidelity designs. I
                      | then worked closely with the developers during the implementation stage, including help
                      | polish some functionality and styles by diving into the code.
                    br
                    h3 The Outcome:
                    ul
                      li
                        | The&nbsp;
                        a(href='https://edlab.tc.columbia.edu/' target='_blank') new site
                        |  was launched in March 2017.
                      li
                        | We revised the IA, simplified the navigation, came up with a simple and clean design
                        | aesthetic.
                      li
                        | The eventual final design and layout was liked enough by our stakeholders to make it
                        | &quot;our look&quot; and became the start of unifying the design across our different websites
                        | and apps.
                      li
                        | This project also led to the creation of other related projects, like EdLab Global
                        | Search, the EdLab CMS project, integrated EdLab authentication system.
                .row.portfolio-header
                  .col-lg-8.col-lg-offset-2
                    h2 The Process (Highlights):
                    hr
                    ul
                      li
                        | STRATEGY
                        ul
                          li Original scope
                      li
                        | RESEARCH
                        ul
                          li Evaluation of existing website
                          li New scope
                          li Creating a sitemap of the existing website
                          li Determine user needs
                      li
                        | DESIGN AND PROTOTYPE
                        ul
                          li Develop new information architecture
                          li Wireframe new designs and create high-fidelity mockups
                      li
                        | IMPLEMENT
                        ul
                          li Create transition plan for content
                          li Create design specs for developers
                          li CSS implementation
                          li Usability testing
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h4 RESEARCH:
                    hr
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Project scope and requirements:
                    ul
                      li
                        | Our initial focus and assignment was to simply &apos;re-skin&apos; the old website to make it
                        | look nicer and cleaner.
                      li
                        | As we went down the path of a &apos;re-skin&apos;, we realized there were several things about
                        | the site that didn&apos;t work.
                      li
                        | Eventually, the scope expanded to build a completely new website with new
                        | requirements and features.
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/edlab_website_old.jpg' alt='Old EdLab website')
                    h4.text-center
                      | The Old Homepage
                      i.fa.fa-chevron-up
                    br
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Evaluation of old website:
                    ul
                      li
                        | The main user base for the website is the EdLab staff, who use it to write blog
                        | posts for internal/external audiences, create events, advertise new job positions,
                        | update people information, and highlight projects and work.
                      li
                        | Several visitors to the EdLab website originate from one of our different apps,
                        | trying to create new EdLab app accounts.
                      blockquote
                        i
                          | Since the old EdLab website had a different account system compared to
                          | other EdLab apps, confused users created EdLab &apos;website accounts&apos; instead of an
                          | EdLab &apos;apps account&apos;.
                      li Analyzed traffic data to determine popular pages and paths.
                      li
                        | Created a sitemap and explored the source repository to map the hundreds of pages
                        | and sub-pages within the old website.
                .row.portfolio-slide
                  .col-lg-8.col-lg-offset-2
                    h4 DESIGN AND PROTOTYPE:
                    hr
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Interviews / Design events:
                    ul
                      li
                        | Spoke to several EdLab staff members to get their feedback on the current website.
                      li Organized design events to get ideas from the Teachers College community.
                      blockquote
                        i
                          | The larger Teachers College community members didn&apos;t know much about EdLab.
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Information Architecture / Interaction Design:
                    ul
                      li
                        | We felt the site needs to be a central point for &quot;everything EdLab&quot;, and not just be
                        | an &apos;About Us&apos; brochure site.
                      li
                        | Landing page structure: We settled on a structure for the new website that had three
                        | distinct sections -
                        ul
                          li
                            | DO: This section would be an entry point to our network of apps that users
                            | can experience through a super search, links to apps, or a single EdLab
                            | account creation process.
                          li
                            | SHOW: To give users a taste of EdLab, this would be a section to highlight
                            | our recent and upcoming activities and featured content (from different
                            | apps).
                          li
                            | TELL: Now that users have tried out what we have to offer and have seen what
                            | we can do, we wanted to tell them a little more about us in this section.
                  .col-lg-6.col-lg-offset-3
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/edlab_website_ia.jpg' alt='New site structure')
                    h4.text-center
                      | New site structure
                      i.fa.fa-chevron-up
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b High Fidelity Designs / Pixel Perfection:
                    ul
                      li
                        | When we initially worked on re-skinning the site, it was a period of management and
                        | the design team understanding each other&apos;s processes and design sensibilities and
                        | aesthetic sense.
                      li
                        | Some of our initial designs were very visceral and visually bright and attractive --
                        | while our stakeholders liked them, they felt it did not convey their feelings
                        | towards EdLab.
                      li Our later design iterations were more simple and clean.
                  .col-lg-8.col-lg-offset-2
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/edlab-website_v1.jpg' alt='Early visual design')
                    h4.text-center
                      | Early visual design option
                      i.fa.fa-chevron-up
                  .col-lg-8.col-lg-offset-2
                    br
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Prototyping:
                    ul
                      li We used InVision app to create, share, and test our prototypes.
                      li
                        | Constantly tested our designs with members of the Teachers College community and
                        | iterated based on their feedback.
                      blockquote
                        i
                          | Users feel the new design does a good job of informing them of what EdLab
                          | does and can do. They like seeing our latest posts and events.
              .modal-footer
                ul.list-inline.item-details
                  li
                    | Project:&nbsp;
                    strong EdLab Website
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalEvolveOutlet')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalMisc')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close

        // **** Evolve Outlet ****
        #modalEvolveOutlet.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
          .modal-content
            .container-fluid
              .nav-modal
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalVialogues')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalEdLabWebsite')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close
              .modal-body
                .row.portfolio-header
                  .col-lg-8.col-lg-offset-2
                    h2 Electrical Outlet Redesign
                    hr
                    p.project-intro
                      | The&nbsp;
                      a(href='https://sites.google.com/umich.edu/apd/past-projects-by-topic?authuser=0#h.p_l6TnCjokF5xh' target='_blank') Analytical Product Design
                      |  course at The University of
                      | Michigan requires students to work in teams to apply multidisciplinary
                      | (engineering design, product design, human-centered design, and product-directed
                      | entrepreneurship) methods on a project. We redesigned the standard power outlet.
                    br
                    .text-center
                      video(width='560' height='315' controls='' autoplay)
                        source(src='dist/assets/images/evolve-outlet.ogg' type='video/ogg; codecs="theora, vorbis"')
                    h4.text-center
                      | The Evolve Outlet
                      i.fa.fa-chevron-up
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h3 The Project:
                    p
                      | Redesign the standard power outlet considering advancements in technology, increased user
                      | demand, and new user requirements.
                    br
                    h3 My Role:
                    p
                      | Our team was a multi-disciplinary team, consisting of a mechanical engineer (Cole), an
                      | electrical engineer (Karthik), a business major (Dan), and a user experience designer
                      | (me). As the user experience lead, I was actively involved in the research and design
                      | phases.
                    br
                    h3 The Outcome:
                    p
                      | We designed an award-winning outlet, with multiple sockets, USB charging ports, and an
                      | extension cord -- all built into a standard size gang-box with an unobtrusive design.
                .row.portfolio-header
                  .col-lg-8.col-lg-offset-2
                    h2 The Process (Highlights):
                    hr
                    ul
                      li
                        | STRATEGY
                        ul
                          li Ideation &amp; brainstorming
                      li
                        | RESEARCH
                        ul
                          li User interviews
                          li Conducting surveys
                          li Persona generation
                          li Comparative analysis
                      li
                        | DESIGN AND PROTOTYPE
                        ul
                          li Sketching and prototyping
                          li User testing
                .row.portfolio-slide
                  .col-lg-8.col-lg-offset-2
                    h4 DESIGN EVOLUTION:
                    hr
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Research:
                    ul
                      li
                        | We interviewed and observed our friends and classmates about their outlet usage in
                        | their homes, dorms, and apartments.
                      li
                        | We also observed general usage in more public spaces, like coffee shops and
                        | classrooms.
                      li
                        | The most common issues we identified were:
                        ul
                          li
                            | Inaccessible outlets - either located far away or behind some obstruction
                          li Not enough sockets - already occupied by other chargers
                          li Lack of USB ports for newer devices - need to use an extra adapter
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Design:
                    ul
                      li
                        | We came up with several design ideas and sketches that contained various
                        | combinations of multiple outlets and USB outlets.
                      li
                        | Some of these ideas were the replacement of the whole outlet gang-box, while others
                        | were plug-and-use models.
                      li
                        | We also tried to create a &apos;light-enabled&apos; adapter that goes on to the end of a
                        | user&apos;s charging cable to help when visibility is poor around the wall outlet.
                  .col-lg-8.col-lg-offset-2
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/evolve_sketch.jpg' alt='Evolve Outlet Design Evolution')
                    h4.text-center
                      | Evolution of our design
                      i.fa.fa-chevron-up
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Prototypes and Testing:
                    ul
                      li
                        | We initially created cardboard and paper prototypes of some of these designs and
                        | tested them out.
                      li
                        | We got the idea to enhance the design to include an extension cord inside during
                        | this testing phase.
                    br
                    p.color-blue
                      | &#x279D;&nbsp;
                      b Final Design:
                    p The &apos;Evolve Outlet&apos; had the following features-
                    ul
                      li 4 Standard Power Outlets
                      li 2 USB Charging Ports
                      li Self-contained, auto-retracting 48&quot; extension cord.
                      li Fits in the standard 2-Panel wall box
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/evolve_features.jpg' alt='Evolve Outlet Final Design')
                    h4.text-center.color-gray-darker
                      | Final Design of the Evolve Outlet
                      i.fa.fa-chevron-up
                    br
                    blockquote
                      i
                        | A 3D print version of the evolve outlet was displayed at the Design Expo at
                        | The University of Michigan and won the&nbsp;
                        b Best Project Award
                        | ! The project was also displayed at UMSI&apos;s &quot;expoSItion &apos;13&quot;
                        | and got an honorable mention under the overall best project category.
                  .col-lg-8.col-lg-offset-2
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/evolve_3d.jpg' alt='Evolve Outlet 3D Print')
                    h4.text-center.color-gray-darker
                      | 3D print of our solution
                      i.fa.fa-chevron-up
              .modal-footer
                ul.list-inline.item-details
                  li
                    | Project:&nbsp;
                    strong Evolve Outlet
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalVialogues')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalEdLabWebsite')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close

        // **** Misc ****
        #modalMisc.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
          .modal-content
            .container-fluid
              .nav-modal
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalEdLabWebsite')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalLibWeb')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close
              .modal-body
                .row.portfolio-header
                  .col-lg-8.col-lg-offset-2
                    h2 Samples From Other Projects
                    hr
                    p.project-intro
                      | Wireframes, Mockups, User Models, and Work Samples from multiple
                      | projects.
                .row.portfolio-slide.slide-break
                  .col-lg-8.col-lg-offset-2
                    h3 Interactive Learning Game Design with Intel
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/misc/game2.jpg' alt='Intel Game')
                  .col-lg-8.col-lg-offset-2
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/misc/game3.jpg' alt='Intel Game')
                  .col-lg-8.col-lg-offset-2
                    blockquote
                      i
                        | Interactive environment to explore, discover, and learn about. Shown above is
                        | the interaction of clicking on a fish and getting contextual actions and
                        | information.
                .row.portfolio-slide.slide-break
                  .col-lg-10.col-lg-offset-1
                    h3 Healthcare Taxonomy Management Software
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/misc/informatics.jpg' alt='informatics')
                  .col-lg-8.col-lg-offset-2
                    blockquote
                      i
                        | A software application to view, add and manage the complex taxonomy in
                        | healthcare.
                    p
                      a(href='https://docs.google.com/presentation/d/1f-y50x9qbxHtBLNAQoNrGrysbuRoURIa6QbllKFylDQ/edit?usp=sharing' target='_blank') &nbsp;View project presentation
                .row.portfolio-slide.slide-break
                  .col-lg-10.col-lg-offset-1
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/misc/symantec.jpg' alt='Symantec')
                    h4.text-center
                      | Support Portal Redesign
                      i.fa.fa-chevron-up
                  .col-lg-8.col-lg-offset-2
                    blockquote
                      i Complete redesign of Symantec&apos;s Support portal website.
                .row.portfolio-slide.slide-break
                  .col-lg-10.col-lg-offset-1
                    h3 Dell Pattern Design Library
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/misc/dell_patterns1.jpg' alt='Dell Patterns')
                    h4.text-center
                      | File Upload Pattern
                      i.fa.fa-chevron-up
                    br
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/misc/dell_patterns2.jpg' alt='Dell Patterns')
                    h4.text-center
                      | Pagination Pattern
                      i.fa.fa-chevron-up
                  .col-lg-8.col-lg-offset-2
                    blockquote
                      i Dell Design Library patterns are used by the developers of Dell.com
                .row.portfolio-slide.slide-break
                  .col-lg-6.col-lg-offset-3
                    h3 PayPal India Mock Ups
                    br
                    img.lazyload.img-responsive.img-centered(data-sizes='auto' data-src='dist/assets/images/work/misc/paypal.jpg' alt='paypal')
                  .col-lg-8.col-lg-offset-2
                    blockquote
                      i A POC to create a new application for PayPal in the Indian market.
              .modal-footer
                ul.list-inline.item-details
                  li
                    | Project:&nbsp;
                    strong Miscellaneous
                button.btn.btn-default.btn-prev(type='button' title='Previous Project' onclick="showModal('modalEdLabWebsite')")
                  i.fa.fa-angle-left
                  |  Prev
                button.btn.btn-default.btn-next(type='button' title='Next Project' onclick="showModal('modalLibWeb')")
                  i.fa.fa-angle-right
                  |  Next
                button.btn.btn-default(type='button' data-dismiss='modal' title='Back to all projects')
                  i.fa.fa-times
                  |  Close

        // jQuery
        script(src='dist/assets/vendor/jquery/jquery.min.js')

        // Bootstrap Core JavaScript
        script(src='dist/assets/vendor/bootstrap/js/bootstrap.min.js')

        // Plugin JavaScript
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')

        // Theme JavaScript
        script(src='dist/js/scripts.js')

        // Start of StatCounter Code for Default Guide
        script(type='text/javascript').
          var sc_project = 11626916;
          var sc_invisible = 1;
          var sc_click_stat = 2;
          var sc_security = "b2525a4f";
          var _statcounter = _statcounter || [];
          _statcounter.push({"tags": {"random": "sabarish.net"}});
          window.onhashchange = locationHashChanged;
          function locationHashChanged() {
            var matchedString = window.location.hash;
            //- console.log('project ' + matchedString);
            _statcounter.push({"tags": {"project": matchedString}});
            _statcounter.record_pageview();
          };
        script(type='text/javascript' src='https://www.statcounter.com/counter/counter.js' async='')
        noscript
          .statcounter
            a(title='Web Analytics\
            Made Easy - StatCounter' href='http://statcounter.com/' target='_blank')
              img.statcounter(src='//c.statcounter.com/11626916/0/b2525a4f/1/' alt='Web\
              Analytics Made Easy - StatCounter')
        // End of StatCounter Code for Default Guide
